.top-bar
  background-color #194480

  .row
    background-color #19480

.menu
  background-color #194480!important
  color #fff

  li
  color #fff

  a
    color #fff

  li:hover, li.active
    background-color #133059
