
.top-bar > .row
  background-color #194480

.top-bar
  background-color #194480

.menu
  background-color #194480!important
  color #fff

.menu > li > a
  color #fff

.menu > li > a:hover
  background-color #114182

.menu > li > a.active
  background-color #114182