pretty-blue = #194480

.top-bar
  background-color pretty-blue

  .row
    background-color pretty-blue

a
  color pretty-blue

a:hover, a:active
  color #133059

.button
  background-color pretty-blue
  font-weight bold

.button:hover, .button:active
  background-color #133059

.dashboard-widget .title
  background-color pretty-blue

.dashboard-widget .title a:hover
  color #ddd

.menu
  background-color pretty-blue!important
  color #fff

  li
  color #fff

  a
    color #fff

  li:hover, li.active
    background-color #133059
