#login
  .logo-container
    text-align center
    margin-top 20px
    margin-bottom 20px
    img
      width 400px
  .login-container
    //margin-top 200px
    max-width 500px
    float none

    .buttonwrapper
      text-align center
