#sensors, #sensor
  min-height 100%
  padding-bottom 60px
  .new-sensor-container
    position fixed
    z-index 10
    width 90%
    left 5%
    top 30px

  .background-area
    position absolute
    z-index 9
    top 0
    left 0
    width 100%
    height 100%
    background #fffd

  .blue
    stroke #00f
    fill #00f
  .red
    stroke #f00
    fill #f00
  .green
    stroke #0f0
    fill #0f0
