
body
  margin 0
  padding 0 0 60px 0
  font 10px sans-serif

textarea
  resize none
  background steelblue

#footer
  clear both
  position relative
  height 60px
  margin-top -60px
  background #eee

  p
    text-align center
    position absolute
    opacity 0
    top 30%
    left 0
    right 0
    transform translateY(-50%)
    transition all 1s
    &.show
      opacity 1
      top 50%

.profileinfo
  cursor pointer
  display none
  z-index 2
  background white
  position absolute
  border 1px solid #eee
  padding 8px 16px
  opacity 0
  top 0
  transition opacity 0.5s, top 0.5s

.pointer
  cursor pointer

.textarea
  height 100%

.callout
  box-shadow: 0 0 .5em gray;

.seperator-line
  margin 5px

.realtime
  height 400px

#console
  overflow scroll
  border grey solid 1px
  padding 10px

.docs-page-title
  margin-top 1rem
  margin-bottom 1rem

/*
 * d3
 */
path {
  stroke-width: 2;
  fill: none;
}

.axis path,
.axis line
  fill none
  stroke #000
  shape-rendering crispEdges

.y.axis path
  display none

.y.axis line
  stroke #777
  stroke-dasharray 2,2

@import "login"
@import "sensor"
@import "gateway"
@import "dashboard"
@import "user"
@import "cluster"
@import "lists"
