doctype html5
html
  head
    link(rel='stylesheet', href='/css/style<%= timestamp %>.css')
    link(rel='stylesheet', href='/css/foundation.min.css')
    script(src='/js/app<%= timestamp %>.js')
  body
    block content
